.App {
  text-align: center;
}

.module-comment-block {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 10px;
}

.module-comment-avatar {
  flex-shrink: 0;
}

.module-comment-text {
  padding-left: 10px;
}

ul {
  list-style-type: none;
}
